html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*:after{
    border: 0;
    padding: 0;
}

.container {
    width: 1180px;
    height: 370px;
    margin: 120px auto;
}

.products-header {
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 36px;
}

.item {
    width: 274px;
    height: 370px;
    border-bottom: 1px solid #e4e6e9;
}

.slider {
    width: 100%;
    position: relative;
    height: 370px;
    /* padding-left: 93px; */
}

.slick-track {
    display: flex;
}

.slick-list {
    overflow: hidden;
}

.slick-arrow {
    position: absolute;
    top: 30%;
    z-index: 10;
    font-size: 0;
    width: 23px;
    height: 45px;
}

.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-dots li {
    margin-top: 48px;
    list-style: none;
    margin-right: 8px;
}

.slick-dots button {
    font-size: 0;
    width: 8px;
    height: 8px;
    background-color: rgba(44, 47, 70, 0.5);
    border-radius: 50%;
}

.slick-active button{
    background-color: #2c2f46;
}

.slider .slick-arrow.slick-prev {
    left: -48px;
    background: url('../images/arrow-left.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
    right: -48px;
    background: url('../images/arrow-right.svg') 0 0 / 100% no-repeat;
}
.item-info {
    padding-left: 24px;
    padding-top: 32px;
}
.prod-name {
    width: 250px;
    height: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #2c2f46;
    font-size: 16px;
}
.prod-price {
    color: #85878f;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    width: 250px;
}

.prod-avail {
    margin-top: 10px;
    width: 250px;
}

.green-dot {
    width: 10px;
    height: 10px;
    background-color: #85b73c;
    border-radius: 50%;
    display:inline-block
}
.stock {
    width: 237px;
    display:inline-block;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    color: #85b73c;
    line-height: 1.45;
    font-weight: bold;
    text-transform: uppercase;
}